section.bottom
    .bottom__slider.swiper-container
        .swiper-wrapper
            .swiper-slide.bottom__slide(href="#popup-form" data-fancybox data-options='{"autofocus" : "false"}')
                .bottom__slide-img
                    img(src="img/bottom/1.png", alt="")
                .bottom__slide-info
                    .bottom__slide-name MB6 
                    .bottom__slide-title Идеален для небольших комнат
                    .bottom__slide-text площадь обслуживания до 30м&sup2;
                    .bottom__slide-button 
                        a.btn
                            span Купить
            .swiper-slide.bottom__slide(href="#popup-form" data-fancybox data-options='{"autofocus" : "false"}')
                .bottom__slide-img
                    img(src="img/bottom/2.png", alt="")
                .bottom__slide-info
                    .bottom__slide-name MB20
                    .bottom__slide-title Для тех, кто живет с размахом
                    .bottom__slide-text площадь обслуживания до 200м&sup2;
                    .bottom__slide-button 
                        a.btn
                            span купить
        .bottom__slider-next
            img(src="img/bottom/arrow-bottom.png", alt="")