section#garanty.garanty.block--blue.block--effect
    .l-default
        h2.title.title--h2 Наши увлажнители гарантируют
    .garanty__slider
        .garanty__slider-content
            .garanty__slide
                .garanty__slide-img
                    img.lazy(src="img/garanty/1.jpg", alt="")
                .garanty__slide-title Комфорт для кожи
                .garanty__slide-text Сероватый оттенок, безжизненный вид и сухость — признаки водного дисбаланса. Увлажненная кожа надолго останется ухоженной, гладкой и здоровой.
            .garanty__slide
                .garanty__slide-img
                    img.lazy(src="img/garanty/2.jpg", alt="")
                .garanty__slide-title Здоровые легкие
                .garanty__slide-text Чистый влажный воздух и легкое дыхание неразделимы. Функция мойки в наших увлажнителях поможет вам как можно дольше поддерживать легкие в отличном состоянии.
            .garanty__slide
                .garanty__slide-img
                    img.lazy(src="img/garanty/3.jpg", alt="")
                .garanty__slide-title Чистый дом
                .garanty__slide-text Пыль на вашей мебели появится не скоро, а белый налет — никогда. Потому что воздух действительно будет влажным, и станет таким без ультразвука. Максимально естественно.    