.garanty {
    padding: 5% 0;
    @media screen and (max-width: 1079px) {
        .swiper-slide {
            transform: scale(0.5) translateY(-25%);
            @media screen and (max-width: 767px) {
                transform: scale(0.5) translateY(-20%);
            }
        }
        .swiper-slide-active {
            transform: scale(1);
            @media screen and (max-width: 767px) {
                transform: scale(1) translateY(5%);
            }
        }
    }
    @media screen and (max-width: 767px) {
        padding: 66px 0 85px;
    }
    .title {
        margin-bottom: 113px;
        @media screen and (max-width: 1079px) {
            margin-bottom: 37px;
        }
    }
    &__slider {
        position: relative;
        overflow: visible !important;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 30%;
            z-index: z("mask");
            transform: translateY(-30%);
            width: 100%;
            height: 2px;
            display: flex;
            background: #27C44A;
            @media screen and (max-width: 1079px) {
                top: 25%;
                transform: translateY(-25%);
            }
            @media screen and (max-width: 767px) {
                top: 30%;
                transform: translateY(-30%);
            }
        }
        &-content {
            position: relative;
            z-index: z("slide");
            display: flex;
            justify-content: space-between;
            max-width: 1420px;
            @media screen and (max-width: 1079px) {
                max-width: 100%;
            }
        }
    }
    &__slide {
        @include tr("all");
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        margin-right: 50px;
        @media screen and (max-width: 1079px) {
            width: 570px !important;
            margin-right: 0;
        }
        @media screen and (max-width: 800px) {
            width: 400px !important;
        }
        @media screen and (max-width: 767px) {
            width: 200px !important;
        }
        &:hover {
            transform: scale(1.3);
            @media screen and (max-width: 1079px) {
                transform: none;
            }
            .garanty__slide-img {
                box-shadow: 0px 0px 25px 0px rgba(39,196,74,0.46);
            }
        }
        &-img {
            width: 220px;
            height: 220px;
            border-radius: 100%;
            margin: 0 auto;
            overflow: hidden;
            margin-bottom: 20px;
            @media screen and (max-width: 1079px) {
                width: 304px;
                height: 304px;
            }
            @media screen and (max-width: 767px) {
                width: 160px;
                height: 160px;
            }
        }
        &-title {
            font-size: 31px;
            line-height: 38px;
            font-weight: 700;
            margin-bottom: 15px;
            @media screen and (max-width: 1079px) {
                font-size: 65px;
                line-height: 79px;
                margin-bottom: 37px;
            }
            @media screen and (max-width: 800px) {
                font-size: 40px;
                text-align: center;
                margin-bottom: 20px;
            }
            @media screen and (max-width: 767px) {
                font-size: 22px;
                line-height: 38px;
                text-align: center;
                margin-bottom: 10px;
            }
        }
        &-text {
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            @media screen and (max-width: 1079px) {
                font-size: 24px;
                line-height: 144%;
            }
            @media screen and (max-width: 767px) {
                font-size: 10px;
            }
        }
    }
}