section.comfort.block--effect
    .l-default
        .comfort__wrapper
            .comfort__item.comfort__info
                h2.title.title--h2.block--effect-left.block--effect-left-h Все для вашего комфорта
                ul.comfort__list.list--green.block--effect-left.block--effect-left-t
                    li.comfort__list-item.list-item Гарантия 365 дней
                    li.comfort__list-item.list-item Доставка по всей России
                    li.comfort__list-item.list-item Комплектующие в наличии
                    li.comfort__list-item.list-item Управление дистанционным пультом
                    li.comfort__list-item.list-item Таймер на отключение
            .comfort__item.comfort__img  
                img.lazy(src="img/comfort/comfort.png", alt="")