section.main-top
    .l-default
        .main-top__wrapper
            .main-top__item.main-top__info
                h1.title.title--h1 Увлажнители воздуха, которые работают безупречно
                .main-top__button
                    a.btn.scroll(href="#decision")   
                        span подробнее
                ul.main-top__list.list
                    li.main-top__list-item.list-item Дышите полной грудью, вы – дома
                    li.main-top__list-item.list-item Антиаллергенно, безопасно
                    li.main-top__list-item.list-item Бесплатное сервисное обслуживание 365 дней
            .main-top__item.main-top__img  
                img.lazy(src="img/main-top/main.png", alt="")