section#decision.decision.block--blue
    .l-default
        h2.title.title--h2 Каждому дому — свое решение
        .decision__wrapper
            a.decision__item(href="#popup1" data-fancybox data-options='{"autofocus" : "false"}')
                .decision__item-img
                    img.lazy(src="img/decision/item-1.png", alt="")
                .decision__item-name МВ6
                .decision__item-title Идеален для небольших комнат
                .decision__item-text площадь обслуживания до 30м&sup2;
                .decision__item-button
                    span.btn
                        span подробнее
            a.decision__item(href="#popup2" data-fancybox data-options='{"autofocus" : "false"}')
                .decision__item-img
                    img.lazy(src="img/decision/item-2.png", alt="")
                .decision__item-name МВ20
                .decision__item-title Для тех, кто живет с размахом
                .decision__item-text площадь обслуживания до 200м&sup2;
                .decision__item-button
                    span.btn
                        span подробнее
