section.level.block--effect
    .l-default
        .level__wrapper
            .level__item.level__img
                img(src="img/level/level.png", alt="")
                span <strong>Владимир Гракович,</strong> <br> Генеральный директор Sabiel
            .level__item.level__info
                h2.title.title--h2.block--effect-left.block--effect-left-h Высший уровень заботы о воздухе
                .level__text.block--effect-left.block--effect-left-t 
                    p Мы производим, устанавливаем и обслуживаем климатическое оборудование для бизнеса уже больше 20 лет. Этот опыт мы использовали для разработки профессиональной техники для дома.
                    p Наши клиенты сейчас — более 1000 компаний, качество работы которых зависит от качества воздуха. Это типографии и научные центры, производства — от фармацевтических до автомобильных. Их доверие и есть тот фундамент, на котором стоит наша уверенность в высоком профессиональном уровне теперь и мобильных увлажнителей Sabiel.