.level {
    padding: 5% 0;
    @media screen and (max-width: 1079px) {
        padding: 129px 0 164px;
    }
    @media screen and (max-width: 800px) {
        padding: 76px 0 92px;
    }
    .title {
        margin-bottom: 60px;
        @media screen and (max-width: 1300px) {
            margin-bottom: 40px;
        }
        @media screen and (max-width: 1079px) {
            max-width: 600px;
            text-align: left;
        }
        @media screen and (max-width: 800px) {
            margin-bottom: 40px;
        }
        @media screen and (max-width: 767px) {
            max-width: 300px;
        }
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 1079px) {
            flex-direction: column-reverse;
        }
    }
    &__item {
        width: 45%;
        @media screen and (max-width: 1079px) {
            width: 100%;
        }
    }
    &__text {
        font-size: 27px;
        line-height: 160%;
        font-weight: 700;
        @media screen and (max-width: 1440px) {
            font-size: 24px;
        }
        @media screen and (max-width: 1300px) {
            font-size: 20px;
        }
        @media screen and (max-width: 1079px) {
            margin-bottom: 60px;
        }
        @media screen and (max-width: 800px) {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }
    &__img {
        text-align: right;
        img {
            margin-bottom: 20px;
        }
        span {
            font-size: 18px;
        }
    }
}