footer.footer
    .l-default
        .footer__wrapper
            .footer__privacy © 1998 – 2020 Sabiel – Охладители и увлажнители воздуха. Все права защищены.
            a.footer__privacy(href="https://sabiel.ru/politika/" target="_blank") Политика конфиденциальности.
            a.footer__instagram(href="https://www.instagram.com/sabiel.ru/" target="_blank")
                span Мы в инстаграм
                img.lazy(src="img/svg/instagram.svg", alt="")